{% include 'header.html' %}



{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font.css">
{% endblock %}

{% block content %}



<div class="w-full"
    style="background-image: url('/static/images/home9.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 40vh;">

    <div class="p-8 w-full max-w-screen-xl mx-auto">
        <span class="block text-left text-xl mb-2">
            <a href="/" class="mr-2 text-white">홈 &nbsp; |</a>
            <a href="/qnas" class="ml-2 text-white">Q&A &nbsp; |</a>
            <span class="ml-2 text-white">수정</span>
        </span>
        <br><br>

        <div class="text-center mb-4">
            <h1 class="text-5xl font-bold text-white">문의 내용 수정</h1>
        </div>
        <br><br>
    </div>
</div>
<br>

<section class="create">
    <div class="container">
        <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">문의 내용 수정</h2>

        <form action="/qnas/update/{{ qna.id }}" method="post">
            <div class="form-group">
                <label for="username">작성자</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ username }}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ qna.title }}" required>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" name="content" rows="5"
                    required>{{ qna.content }}</textarea>
            </div>

            <div class="flex justify-end gap-4">
                <button type="submit"
                    class="px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">수정</button>
                <button type="button" onclick="location.href='/qnas'"
                    class="px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">뒤로가기</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% include 'footer.html' %}