{% include 'header.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font.css">
<style>
    .detail-content {
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .title {
        text-align: center;
        margin-bottom: 20px;
    }

    .separator {
        margin: 20px 0;
    }

    .info-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    .info-column {
        flex: 1;
        padding: 0 10px;
        border-right: 1px solid #ddd;
    }

    .info-column:last-child {
        border-right: none;
    }

    .content-section,
    .attachment-section {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .content-section p {
        font-size: 18px;
    }

    .attachment-image {
        max-width: 100%;
        height: auto;
    }

    .button-section {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}

<div class="w-full"
    style="background-image: url('/static/images/home8.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 35vh;">

    <div class="w-full max-w-screen-xl p-8 mx-auto">
        <span class="block mb-2 text-xl text-left">
            <a href="/" class="mr-2 text-white">홈 &nbsp; |</a>
            <a href="/contact55" class="ml-2 text-white">섭외등록 &nbsp; |</a>
            <a href="/qnas" class="ml-2 text-white">Q&A &nbsp; |</a>
            <span class="ml-2 text-white">등록</span>
        </span>
        <br><br><br>

        <div class="text-center">
            <h1 class="text-5xl font-bold text-white">문의 내용 등록</h1>
        </div>
        <br>
    </div>
</div>
<br><br>

<section class="w-full py-8 mb-10">
    <div class="container max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="detail-content">
            <form id="qnaForm" action="/qnas/create" method="post">
                <div class="form-group">
                    <label for="username">작성자</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ username }}"
                        readonly>
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
                </div>
                <div class="button-section">
                    <button type="submit"
                        class="inline-block px-4 py-2 text-white bg-purple-700 rounded hover:bg-purple-980">등록</button>
                    &nbsp;
                    <button type="button" onclick="location.href='/qnas'"
                        class="inline-block px-4 py-2 text-white bg-purple-700 rounded hover:bg-purple-980">목록으로</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% if login_required %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: '로그인이 필요합니다.',
            icon: 'warning',
            confirmButtonText: '확인'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/login";
            }
        });
    });
</script>
{% endif %}
{% endblock %}

{% include 'footer.html' %}