{% include 'header.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font.css">

{% endblock %}

{% block content %}


<div class="w-full" style="background-image: url('/static/images/home9.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 40vh;">
    
    <div class="p-8 w-full max-w-screen-xl mx-auto" >
        <span class="block text-left text-xl mb-2">
            <a href="/" class="mr-2 text-white">홈 &nbsp; |</a> 
            <a href="/qnas" class="ml-2 text-white">Q&A &nbsp; |</a>
            <span class="ml-2 text-white" >등록</span>
        </span>
        <br><br>

        <div class="text-center mb-4">
            <h1 class="text-5xl font-bold text-white">문의 내용 등록</h1>
        </div>
        <br><br>
    </div>
</div>
<br>

<section class="create py-8 bg-gray-50">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-2xl bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">문의 내용</h2>

        <form action="/qnas/create" method="post">
            <div class="mb-4">
                <label for="username" class="block text-lg font-lg text-gray-700 mb-2">작성자</label>
                <input type="text" class="form-control block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-500 sm:text-lg" id="username" name="username" value="{{ username }}" readonly>
            </div>
            <div class="mb-4">
                <label for="title" class="block text-lg font-medium text-gray-700 mb-2">제목</label>
                <input type="text" class="form-control block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-500 sm:text-lg" id="title" name="title" required>
            </div>
            <div class="mb-4">
                <label for="content" class="block text-lg font-medium text-gray-700 mb-2">내용</label>
                <textarea class="form-control block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-500 sm:text-lg" id="content" name="content" rows="5" required></textarea>
            </div>
            <div class="flex justify-end gap-4">
                <button type="submit" class="px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">등록</button>
                <button type="button" onclick="location.href='/qnas'" class="px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">뒤로가기</button>
            </div>
        </form>
    </div>
</section>


{% if login_required %}
<script>
    document.addEventListener("DOMContentLoaded", function() {

        Swal.fire({
            title: '로그인이 필요합니다.',
            icon: 'warning',
            confirmButtonText: '확인'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/login"; // 로그인 페이지로 리디렉션
            }
        });
        
    });
</script>
{% endif %}
{% endblock %}
{% include 'footer.html' %}
