.main-container{
    border-radius: 10px;
    border : 1px solid #868484;
    padding : 40px;
    width: 70%;
    margin: 50px auto;
    background-color: #fff;
}

body{
    background-color: #e2dde1;
}