:root {
  --untitled-ui--gray700: #344054;
  --untitled-ui--primary600: #7f56d9;
  --untitled-ui--white: white;
  --untitled-ui--primary700: #6941c6;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray600: #475467;
  --untitled-ui--gray50: #f9fafb;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--gray800: #1d2939;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--gray900: #101828;
  --untitled-ui--gray500: #667085;
  --untitled-ui--success50: #ecfdf3;
  --untitled-ui--success700: #027a48;
  --untitled-ui--gray200: #eaecf0;
  --untitled-ui--gray400: #98a2b3;
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-navbar08_menu-button {
  padding: 0;
}

.uui-button {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.uui-button-tertiary-gray {
  grid-column-gap: .5rem;
  color: var(--untitled-ui--gray600);
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-button-tertiary-gray:hover {
  background-color: var(--untitled-ui--gray50);
  color: var(--untitled-ui--gray700);
}

.uui-button-secondary-gray {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--gray300);
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-secondary-gray:hover {
  background-color: var(--untitled-ui--gray50);
  color: var(--untitled-ui--gray800);
}

.uui-button-secondary-gray:focus {
  background-color: var(--untitled-ui--white);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--gray100);
}

.uui-button-secondary-gray.show-tablet {
  display: none;
}

.uui-button-secondary-gray.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.show-tablet {
  display: none;
}

.uui-navbar08_button-wrapper {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  align-items: center;
  display: flex;
}

.uui-navbar08_menu-right {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.uui-navbar08_link {
  color: var(--untitled-ui--gray600);
  align-items: center;
  padding: .75rem 1rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s;
}

.uui-navbar08_link:hover {
  color: var(--untitled-ui--gray700);
}

.uui-navbar08_link.w--current {
  color: #000;
}

.uui-text-size-small {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: .875rem;
  line-height: 1.5;
}

.uui-text-size-small.text-color-gray500 {
  color: var(--untitled-ui--gray500);
}

.uui-navbar08_item-heading {
  color: var(--untitled-ui--gray900);
  margin-bottom: .25rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-weight: 600;
}

.uui-navbar08_item-heading.margin-bottom-0 {
  margin-bottom: 0;
}

.uui-navbar08_item-right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.uui-icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-navbar08_icon-wrapper {
  color: var(--untitled-ui--primary600);
  flex: none;
}

.uui-navbar08_dropdown-link {
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  padding: .75rem;
  text-decoration: none;
  transition: all .3s;
  display: grid;
}

.uui-navbar08_dropdown-link:hover {
  background-color: var(--untitled-ui--gray50);
}

.uui-badge-small-success {
  grid-column-gap: .25rem;
  background-color: var(--untitled-ui--success50);
  color: var(--untitled-ui--success700);
  white-space: nowrap;
  mix-blend-mode: multiply;
  border-radius: 10rem;
  align-items: center;
  padding: .125rem .5rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: .75rem;
  font-weight: 500;
  display: flex;
}

.uui-navbar08_text-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: 0px;
  align-items: center;
  margin-bottom: .25rem;
  display: flex;
}

.uui-navbar08_heading {
  color: var(--untitled-ui--primary600);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: .25rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: .875rem;
  font-weight: 600;
}

.uui-navbar08_dropdown-link-list {
  grid-column-gap: 0px;
  grid-row-gap: .5rem;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-navbar08_dropdown-content {
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-navbar08_dropdown-list {
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, .08), 0 4px 6px -2px rgba(16, 24, 40, .03);
}

.uui-navbar08_dropdown-list.w--open {
  border: 1px solid var(--untitled-ui--gray200);
  background-color: var(--untitled-ui--white);
  border-radius: .75rem;
  width: 40rem;
  padding: 1.25rem;
  left: -100%;
}

.uui-dropdown-icon {
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0%;
}

.uui-navbar08_dropdown-toggle {
  color: var(--untitled-ui--gray600);
  align-items: center;
  padding: .75rem 2.5rem .75rem 1rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s;
  display: flex;
}

.uui-navbar08_dropdown-toggle:hover {
  color: var(--untitled-ui--gray700);
}

.uui-navbar08_menu {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;
  display: flex;
  position: static;
}

.uui-logo_image {
  flex: none;
  width: auto;
  height: 100%;
  display: none;
}

.uui-logo_logotype {
  flex: none;
  width: auto;
  height: 100%;
}

.uui-logo_logomark-dot {
  z-index: 1;
  background-image: linear-gradient(26.5deg, #6941c6, #53389e);
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: relative;
}

.uui-logo_logomark-blur {
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .2);
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.uui-styleguide_logomark-bg {
  border-radius: 8px;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.uui-logo_logomark {
  border: .1px solid #dae0e8;
  border-radius: .5rem;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(16, 24, 40, .06), 0 1px 2px rgba(16, 24, 40, .1);
}

.uui-logo_component {
  flex-wrap: nowrap;
  width: auto;
  height: 2rem;
  display: flex;
}

.uui-navbar08_logo-link {
  padding-left: 0;
}

.uui-navbar08_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.uui-navbar08_component {
  border-bottom: 1px solid var(--untitled-ui--gray100);
  background-color: #fff;
  align-items: center;
  min-height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.uui-button-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-button-row.button-row-center {
  justify-content: center;
}

.uui-space-large {
  width: 100%;
  min-height: 3rem;
}

.uui-max-width-large {
  width: 100%;
  max-width: 48rem;
}

.uui-max-width-large.align-center, .align-center {
  margin-left: auto;
  margin-right: auto;
}

.uui-text-size-xlarge {
  color: var(--untitled-ui--gray600);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1.25rem;
  line-height: 1.5;
}

.uui-space-small {
  width: 100%;
  min-height: 1.5rem;
}

.uui-heading-xlarge {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.uui-text-align-center {
  text-align: center;
}

.uui-padding-vertical-xhuge {
  padding-top: 7rem;
  padding-bottom: 0;
}

.uui-padding-vertical-xhuge1 {
  padding-top: 5rem;
  padding-bottom: 0;
}

.uui-container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-layout31_lightbox-image {
  object-fit: cover;
  width: 100%;
  height: 32.25rem;
}

.uui-lightbox_play-icon {
  z-index: 2;
  -webkit-backdrop-filter: saturate(150%) blur(12px);
  backdrop-filter: saturate(150%) blur(12px);
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  position: absolute;
}

.lightbox_video-overlay-layer {
  z-index: 1;
  background-color: rgba(29, 41, 57, .1);
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.uui-layout31_lightbox {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  position: relative;
}

.uui-layout31_number-text {
  color: var(--untitled-ui--gray900);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-weight: 500;
}

.uui-layout31_number {
  color: var(--untitled-ui--primary600);
  margin-top: 0;
  margin-bottom: .5rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-layout31_item-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.uui-text-size-large {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-heading-medium {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-heading-subheading {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-layout31_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-layout08_image {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 100%;
}

.uui-layout08_item-icon-wrapper {
  align-self: flex-start;
  margin-right: .75rem;
}

.uui-layout08_item {
  display: flex;
}

.uui-layout08_item-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  display: grid;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-layout08_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.uui-layout56_item-icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: .75rem;
}

.uui-layout56_item {
  display: flex;
}

.uui-layout56_item-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  display: grid;
}

.uui-layout56_image {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 100%;
}

.uui-layout56_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.uui-footer07_legal-link {
  color: var(--untitled-ui--gray500);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: .875rem;
  text-decoration: none;
  transition: all .3s;
}

.uui-footer07_legal-link:hover {
  color: var(--untitled-ui--gray600);
}

.uui-footer07_legal-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.uui-footer07_bottom-wrapper {
  border-top: 1px solid var(--untitled-ui--gray200);
  justify-content: space-between;
  padding-top: 2rem;
  display: flex;
}

.uui-footer07_link {
  color: var(--untitled-ui--gray600);
  text-align: center;
  padding: .5rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}

.uui-footer07_link:hover {
  color: var(--untitled-ui--gray700);
}

.uui-footer07_link-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.uui-footer07_logo-link {
  margin-bottom: 2rem;
  padding-left: 0;
}

.uui-footer07_top-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.uui-padding-vertical-xlarge {
  padding-bottom: 4rem;
}

.uui-button-2 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-2:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button-2:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button-row-2 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-button-row-2.button-row-center {
  justify-content: center;
}

.uui-space-medium {
  width: 100%;
  min-height: 2rem;
}

.uui-text-size-large-2 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-space-xxsmall {
  width: 100%;
  min-height: .5rem;
}

.uui-heading-xxsmall {
  color: var(--untitled-ui--gray900);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-avatar-group_item, .uui-avatar-stack_item {
  border: 2px solid var(--untitled-ui--white);
  background-color: var(--untitled-ui--white);
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  margin-right: -1rem;
}

.uui-avatar-stack_item.featured {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
}

.avatar-stack_component {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: flex;
}

.uui-text-align-center-2 {
  text-align: center;
}

.uui-team01_cta {
  background-color: var(--untitled-ui--gray50);
  border-radius: 1rem;
  padding: 2.5rem 2rem;
}

.social-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.social-link {
  color: var(--untitled-ui--gray400);
  transition: all .3s;
}

.social-link:hover {
  color: var(--untitled-ui--gray500);
}

.uui-team01_social {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-self: center;
  margin-top: 1rem;
  display: grid;
}

.uui-text-size-medium {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  line-height: 1.5;
}

.uui-text-size-medium.text-color-primary700 {
  color: var(--untitled-ui--primary700);
}

.uui-heading-tiny {
  color: var(--untitled-ui--gray900);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-team01_image {
  object-fit: cover;
  border-radius: 100%;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  min-height: 5rem;
}

.uui-team01_image-wrapper {
  margin-bottom: 1.25rem;
}

.uui-team01_item {
  text-align: center;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.uui-team01_list {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
}

.uui-space-xsmall-2 {
  width: 100%;
  min-height: 1rem;
}

.uui-heading-medium-2 {
  color: var(--untitled-ui--gray900);
  margin-top: 0;
  margin-bottom: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-heading-subheading-2 {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-max-width-large-2 {
  width: 100%;
  max-width: 48rem;
}

.uui-max-width-large-2.align-center, .align-center-2 {
  margin-left: auto;
  margin-right: auto;
}

.uui-padding-vertical-xhuge-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.spoonlogo {
  position: relative !important;
  width: 73.39px !important;
  height: 89.95px !important;
}

@media screen and (min-width: 1920px) {
  .uui-navbar08_menu-left {
    /* font-family: Npsfont, sans-serif; */
    font-size: 10px;
  }

  .uui-heading-xlarge {
    /* font-family: Npsfont, sans-serif; */
  }

  .uui-padding-vertical-xhuge {
    padding-bottom: 7rem;
  }

  .uui-page-padding {
    color: var(--untitled-ui--gray700);
    background-color: rgba(0, 0, 0, 0);
  }

  .uui-section_heroheader11 {
    background-color: #e0e7ff;
  }

  .uui-padding-vertical-xhuge-2 {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon_line-bottom {
    background-color: var(--untitled-ui--gray700);
    border-radius: 1rem;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle {
    background-color: var(--untitled-ui--gray700);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon_line-top {
    background-color: var(--untitled-ui--gray700);
    border-radius: 1rem;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .uui-navbar08_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .hide-tablet {
    display: none;
  }

  .uui-button-secondary-gray.show-tablet, .show-tablet {
    display: block;
  }

  .uui-navbar08_button-wrapper {
    flex-direction: column-reverse;
    align-items: stretch;
    display: flex;
  }

  .uui-navbar08_menu-right {
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    padding-bottom: 7rem;
  }

  .uui-navbar08_link {
    color: var(--untitled-ui--gray900);
    width: 100%;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .uui-navbar08_link:hover {
    color: var(--untitled-ui--gray900);
  }

  .uui-navbar08_dropdown-link {
    padding-left: 0;
    padding-right: 0;
  }

  .uui-navbar08_dropdown-link:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .uui-navbar08_dropdown-content {
    align-content: start;
    align-items: start;
    padding: 1rem 0;
  }

  .uui-navbar08_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .uui-navbar08_dropdown-list.w--open {
    box-shadow: none;
    border-style: none;
    border-color: rgba(0, 0, 0, 0);
    width: auto;
    padding: 0;
  }

  .uui-dropdown-icon {
    color: var(--untitled-ui--gray500);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .uui-navbar08_dropdown-toggle {
    color: var(--untitled-ui--gray900);
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    font-size: 1.125rem;
    display: flex;
  }

  .uui-navbar08_dropdown-toggle:hover {
    color: var(--untitled-ui--gray900);
  }

  .uui-navbar08_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .uui-navbar08_menu-left {
    grid-column-gap: 0px;
    grid-row-gap: .5rem;
    color: var(--untitled-ui--gray900);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .uui-navbar08_menu {
    border-top: 1px solid var(--untitled-ui--gray100);
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    align-items: flex-start;
    height: 100vh;
    margin-left: 0;
    padding: 1.5rem 2rem 5rem;
    position: absolute;
    overflow: auto;
  }

  .uui-space-large {
    min-height: 2.5rem;
  }

  .uui-heading-xlarge {
    font-size: 3.25rem;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .uui-layout31_number {
    font-size: 3.25rem;
  }

  .uui-layout31_component {
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .uui-layout08_component {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .uui-layout56_component {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .uui-padding-vertical-xlarge {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .uui-team01_list {
    grid-template-columns: 1fr 1fr;
  }

  .uui-padding-vertical-xhuge-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .uui-button {
    font-size: 1rem;
  }

  .uui-button:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--untitled-ui--primary600);
  }

  .uui-button.is-button-large {
    grid-column-gap: .5rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
  }

  .uui-button-tertiary-gray:hover {
    color: var(--untitled-ui--gray600);
    background-color: rgba(0, 0, 0, 0);
  }

  .uui-button-secondary-gray {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray:hover {
    background-color: var(--untitled-ui--white);
    color: var(--untitled-ui--gray700);
  }

  .uui-button-secondary-gray.is-button-large {
    grid-column-gap: .5rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
  }

  .uui-navbar08_link {
    font-size: 1rem;
  }

  .uui-text-size-small.hide-mobile-landscape, .hide-mobile-landscape {
    display: none;
  }

  .uui-badge-small-success {
    padding: .125rem .5rem;
  }

  .uui-navbar08_dropdown-link-list {
    grid-row-gap: .5rem;
    max-width: none;
  }

  .uui-navbar08_dropdown-content {
    grid-row-gap: 1.5rem;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .uui-navbar08_dropdown-toggle {
    font-size: 1rem;
  }

  .uui-navbar08_menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-styleguide_logomark-bg {
    background-image: url('../images/untitled-ui-logomark.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .uui-navbar08_component {
    min-height: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    width: 100%;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .uui-button-row {
    align-self: stretch;
  }

  .uui-button-row.button-row-center.is-reverse-mobile-landscape, .uui-button-row.is-reverse-mobile-landscape {
    flex-direction: column-reverse;
  }

  .uui-space-large {
    min-height: 2rem;
  }

  .uui-text-size-xlarge {
    font-size: 1.125rem;
  }

  .uui-space-small {
    min-height: 1.25rem;
  }

  .uui-heading-xlarge {
    font-size: 2.25rem;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-page-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-layout31_lightbox-image {
    width: 100vw;
    min-width: 100vw;
    max-width: none;
    height: 22rem;
  }

  .uui-lightbox_play-icon {
    width: 4rem;
    height: 4rem;
  }

  .uui-layout31_lightbox {
    margin-top: 3rem;
  }

  .uui-layout31_number {
    font-size: 2.25rem;
  }

  .uui-layout31_item-list {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .uui-text-size-large {
    font-size: 1rem;
  }

  .uui-heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-layout31_component {
    grid-row-gap: 1rem;
  }

  .uui-layout08_item-list {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .uui-space-xsmall {
    min-height: .75rem;
  }

  .uui-layout08_component {
    grid-row-gap: 3rem;
  }

  .uui-layout56_item-list {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .uui-layout56_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-footer07_legal-link:hover {
    color: var(--untitled-ui--gray400);
  }

  .uui-footer07_legal-list {
    margin-bottom: 1rem;
  }

  .uui-footer07_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3rem;
  }

  .uui-footer07_link:hover {
    color: var(--untitled-ui--gray500);
  }

  .uui-footer07_link-list {
    grid-row-gap: .5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
  }

  .uui-padding-vertical-xlarge {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .uui-button-2 {
    font-size: 1rem;
  }

  .uui-button-2:hover {
    border-color: var(--untitled-ui--primary600);
    background-color: var(--untitled-ui--primary600);
  }

  .uui-button-row-2 {
    align-self: stretch;
  }

  .uui-space-medium {
    min-height: 1.5rem;
  }

  .uui-text-size-large-2 {
    font-size: 1rem;
  }

  .uui-heading-xxsmall {
    font-size: 1.125rem;
  }

  .avatar-stack_component {
    margin-bottom: 1.5rem;
  }

  .uui-team01_cta {
    padding: 2rem 1.5rem;
  }

  .social-link:hover {
    color: var(--untitled-ui--gray400);
  }

  .uui-team01_image-wrapper {
    margin-bottom: 1rem;
  }

  .uui-team01_list {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .uui-space-xsmall-2 {
    min-height: .75rem;
  }

  .uui-heading-medium-2 {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-padding-vertical-xhuge-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-page-padding-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .uui-navbar08_dropdown-link {
    padding-left: 0;
  }

  .uui-navbar08_dropdown-content {
    grid-template-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .uui-layout31_lightbox-image {
    height: 15rem;
  }

  .uui-layout31_item-list {
    grid-template-columns: 1fr;
  }

  .uui-footer07_link-list {
    grid-template-rows: auto auto auto;
  }

  .uui-team01_list {
    grid-template-columns: 1fr;
  }
}

#w-node-_013a75ff-0a8e-433b-62e1-c9edb6c85321-e7360896, #w-node-_013a75ff-0a8e-433b-62e1-c9edb6c85327-e7360896, #w-node-_013a75ff-0a8e-433b-62e1-c9edb6c8532d-e7360896, #w-node-_7bb775aa-2c2d-e51b-fa09-51b0e7dda279-e7360896, #w-node-_7bb775aa-2c2d-e51b-fa09-51b0e7dda27f-e7360896, #w-node-_7bb775aa-2c2d-e51b-fa09-51b0e7dda285-e7360896, #w-node-d7a067ec-ee41-7151-e182-21e5ed3227d6-e7360896, #w-node-d7a067ec-ee41-7151-e182-21e5ed3227dc-e7360896, #w-node-d7a067ec-ee41-7151-e182-21e5ed3227e2-e7360896, #w-node-_10099206-b163-8837-d204-6a3ebcf232e6-e7360896, #w-node-_10099206-b163-8837-d204-6a3ebcf232ec-e7360896, #w-node-_10099206-b163-8837-d204-6a3ebcf232f2-e7360896 {
  align-self: start;
}

@media screen and (max-width: 767px) {
  #w-node-_7bb775aa-2c2d-e51b-fa09-51b0e7dda26f-e7360896, #w-node-_10099206-b163-8837-d204-6a3ebcf232dc-e7360896 {
    order: -9999;
  }
}

/* 
@font-face {
  font-family: 'Npsfont';
  src: url('../fonts/NPSfont_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
} */