{% include 'header.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font.css">
<script src="/static/js/AI_search.js" defer></script>
<style>
    @media (max-width: 1000px) {
    .responsive-table td:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(7)),
    .responsive-table th:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(7)) {
    display: none;
    }
    .responsive-table td,
    .responsive-table th {
      font-size: 0.75rem; /* This corresponds to Tailwind's text-xs */
        }
    .height40 {
        height: 40vh;
    }
    .hidden-below-850 {
        display: none;
        height: 0px;
    }
    .show-below-850 {
        display: block;
    }    
    }
</style>
{% endblock %}

{% block content %}


<div class="w-full" style="background-image: url('/static/images/home7.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 40vh;">
    <div class="w-full max-w-screen-xl p-8 mx-auto height40" >

        <span class="block mb-2 text-xl text-left ">
            <a href="/" class="mr-2 text-white ">홈  &nbsp; |</a> 
            <a href="/credit/creditReview" class="ml-2 text-white">AI심사보고서</a>
        </span>
        <br>
        <div class="hidden-below-850">
            <br><br>
        </div>
        <div class="mb-4 text-center">
            <h1 class="text-3xl font-bold text-white lg:text-5xl">AI 기반 기업여신 심사 보고서</h1>
        </div>
        <br>
        <div class="hidden-below-850">
            <br><br>
        </div>


        <!-- 검색란 -->
        <div class="w-full max-w-4xl mx-auto">
            <div class="relative flex">
                <!-- 검색 타입 선택 -->
                <div class="relative w-48">
                    <select id="search_type"
                        class="block w-full py-2.5 px-4 text-base font-medium text-gray-900 bg-gray-50 border-gray-300 rounded-s-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600">
                        <option value="company_name">회사명</option>
                        <option value="company_code">회사코드</option>
                    </select>
                </div>
                <!-- 검색 입력 필드 -->
                <div class="relative w-full">
                    <input type="search" id="company_name" name="company_name"
                        class="block p-2.5 w-full text-base text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                        placeholder="정보를 입력하세요..." required />
                    <!-- 자동완성 결과 표시 -->
                    <div id="autocomplete-results"
                        class="absolute left-0 z-10 hidden w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg top-full">
                        <!-- JavaScript로 동적으로 결과 항목을 추가합니다. -->
                    </div>
                </div>
                <!-- 검색 버튼 -->
                <button type="submit" id="search_button"
                    class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-purple-700 rounded-e-lg border border-blue-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </button>
            </div>
        </div>
        <br><br>
        <div class="hidden-below-850">
            <br>
        </div>
    </div>
</div>

<br><br>
<div class="hidden-below-850">
    <br>
</div>
<div class="flex justify-center ">
    <table class="text-base text-left text-gray-800 responsive-table w-1600 rtl:text-right dark:text-gray-600" id="company_table">
    <!-- <table class="w-full responsive-table"> -->
        <thead
            class="text-gray-800 uppercase shadow-md sm:rounded-lg text-s bg-gray-50 dark:bg-gray-700 dark:text-gray-600">
            <tr>
                <th scope="col" class="px-6 py-3">
                    순서
                </th>
                <th scope="col" class="px-6 py-3">
                    회사코드
                </th>
                <th scope="col" class="px-6 py-3">
                    회사명
                </th>
                <th scope="col" class="px-6 py-3">
                    공시보고서명
                </th>
                <th scope="col" class="px-6 py-3">
                    보고서번호
                </th>
                <th scope="col" class="px-6 py-3">
                    공시등록일
                </th>
                <th scope="col" class="px-6 py-3">
                    비고
                </th>
            </tr>
        </thead>

        <tbody id="company_list">
            {% for reportContent in reportContents %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ (page - 1) * per_page + loop.index }}
                </th>
                <td class="px-6 py-4">
                    {{reportContent.corp_code}}
                </td>
                <td class="px-6 py-4">
                    {{reportContent.corp_name}}
                </td>
                <td class="px-6 py-4">
                    {{reportContent.report_nm}}
                </td>
                <td class="px-6 py-4">
                    {{reportContent.rcept_no}}
                </td>
                <td class="px-6 py-4">
                    {{reportContent.rcept_dt}}
                </td>
                <td class="px-6 py-4">
                    <a href="/credit/reviewDetail/{{reportContent.rcept_no}}/{{reportContent.corp_code}}"
                        class="font-medium text-purple-600 dark:text-purple-400 hover:underline">보고서 생성</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

<!-- 페이지 div -->
<div id="pagination" class="flex justify-center mt-4">
    {% for i in range(1, total_pages + 1) %}
    {% if i == page %}
    <span
        class="px-4 py-2 mx-1 text-gray-700 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-200 dark:text-gray-300 dark:border-gray-100">{{
        i }}</span>
    {% else %}
    <a href="?page={{ i }}&name={{ search_term or '' }}"
        class="px-4 py-2 mx-1 text-gray-500 border border-gray-100 rounded-lg hover:bg-gray-200 dark:text-gray-400 dark:border-gray-100 dark:hover:bg-gray-200 dark:hover:text-white">{{
        i }}</a>
    {% endif %}
    {% endfor %}
</div>





<!-- 페이지 함수-->
<script>
    let currentPage = {{ page }};
    const perPage = {{ per_page }};

    async function searchCompanies() {
        const name = document.getElementById('company_name').value;
        const searchType = document.getElementById('search_type').value; // Get the selected search type
        //const page = currentPage;
         const perPage = 10; // Or dynamically set this value if needed
         const page = 1; // Or dynamically set this value if using pagination

        try {
            const response = await fetch(`/credit/api/companies/search?name=${encodeURIComponent(name)}&search_type=${encodeURIComponent(searchType)}&page=${page}&per_page=${perPage}`);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const data = await response.json();
            updateTable(data);
            updatePagination(data);
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }

    function updateTable(data) {
        const tableBody = document.getElementById('company_list');
        tableBody.innerHTML = '';
        data.reportContents.forEach((company) => {
            const row = `
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    ${company.report_num}
                </th>
                <td class="px-6 py-4">
                    ${company.corp_code}
                </td>
                <td class="px-6 py-4">
                    ${company.corp_name}
                </td>
                <td class="px-6 py-4">
                    ${company.report_nm}
                </td>
                <td class="px-6 py-4">
                    ${company.rcept_no}
                </td>
                <td class="px-6 py-4">
                    ${company.rcept_dt}
                </td>
                <td class="px-6 py-4">
                    <a href="/credit/reviewDetail/${company.rcept_no}/${company.corp_code}"
                        class="font-medium text-purple-600 dark:text-purple-400 hover:underline">보고서 생성</a>
                </td>
            </tr>
            `;
            tableBody.innerHTML += row;
        });
    }

    function updatePagination(data) {
        const paginationDiv = document.getElementById('pagination');
        paginationDiv.innerHTML = '';
        for (let i = 1; i <= data.total_pages; i++) {
            if (i === data.page) {
                paginationDiv.innerHTML += `<span>${i}</span> `;
            } else {
                paginationDiv.innerHTML += `<a href="#" onclick="changePage(${i})">${i}</a> `;
            }
        }
    }

   
    function changePage(page) {
        currentPage = page;
        const name = document.getElementById('company_name').value;
        window.location.href = `/credit/creditReview/?page=${page}&name=${encodeURIComponent(name)}`;
    }


    document.getElementById('search_button').addEventListener('click', searchCompanies);

    document.getElementById('company_name').addEventListener('keypress', (e) => {
        if (e.key === 'Enter') {
            searchCompanies();
        }
    }); 

    // 자동완성 함수
    document.addEventListener('DOMContentLoaded', () => {
        const input = document.getElementById('company_name');
        const resultsContainer = document.getElementById('autocomplete-results');

        input.addEventListener('input', async () => {
            const query = input.value;

            if (query.length > 2) {
                // 서버에서 자동완성 결과를 가져옵니다.
                const response = await fetch(`/api/autocomplete?query=${encodeURIComponent(query)}`);
                const results = await response.json();

                // 자동완성 결과를 동적으로 생성합니다.
                resultsContainer.innerHTML = results.map(result => `
                    <a href="#" class="block px-4 py-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-600">
                        ${result}
                    </a>
                `).join('');

                resultsContainer.classList.remove('hidden');
            } else {
                resultsContainer.classList.add('hidden');
            }
        });

        // 입력 필드 외부 클릭 시 자동완성 결과 숨기기
        document.addEventListener('click', (event) => {
            if (!resultsContainer.contains(event.target) && event.target !== input) {
                resultsContainer.classList.add('hidden');
            }
        });
    });



</script>


{% endblock %}


{% include 'footer.html' %}