<!DOCTYPE html>
<html>
<head>
    <title>Prediction Results</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 20px 0;
        }
        .box {
            flex: 1 1 calc(33.333% - 20px); /* Each box takes up 33.333% of the width, minus margins */
            margin: 10px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        .section {
            width: 80%;
            margin: 20px auto;
        }
        .center {
            text-align: center;
            margin: 20px 0;
        }
        .heatmap td {
            text-align: center;
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Model Information</h2>
            <ul>
                <li>Model Name: {{ model_info.model_name }}</li>
                <li>Creation Date: {{ model_info.creation_date }}</li>
                <li>Number of Estimators: {{ model_info.n_estimators }}</li>
                <li>Max Features: {{ model_info.max_features }}</li>
                <li>Number of Samples: {{ model_info.n_samples }}</li>
            </ul>
        </div>

        <div class="box">
            <h2>Model Accuracy</h2>
            <p>{{ accuracy }}</p>
        </div>

        <div class="box">
            <h2>Classification Report</h2>
            <table>
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Precision</th>
                        <th>Recall</th>
                        <th>F1-Score</th>
                        <th>Support</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label, metrics in class_report.items() %}
                    {% if metrics is mapping %}
                    <tr>
                        <td>{{ label }}</td>
                        <td>{{ '%.2f'|format(metrics.precision) }}</td>
                        <td>{{ '%.2f'|format(metrics.recall) }}</td>
                        <td>{{ '%.2f'|format(metrics['f1-score']) }}</td>
                        <td>{{ metrics.support }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box">
            <h2>Confusion Matrix</h2>
            <table class="heatmap">
                <thead>
                    <tr>
                        <th></th> <!-- Empty top-left corner -->
                        <th>AAA</th>
                        <th>AA+</th>
                        <th>AA</th>
                        <th>AA-</th>
                        <th>A+</th>
                        <th>A</th>
                        <th>A-</th>
                        <th>BBB+</th>
                        <th>BBB</th>
                        <th>BBB-</th>
                        <th>BB+</th>
                        <th>BB</th>
                        <th>BB-</th>
                        <th>B+</th>
                        <th>B</th>
                        <th>B-</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>AAA</th>
                        {% for val in conf_matrix[0] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>AA+</th>
                        {% for val in conf_matrix[1] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>AA</th>
                        {% for val in conf_matrix[2] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>AA-</th>
                        {% for val in conf_matrix[3] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>A+</th>
                        {% for val in conf_matrix[4] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>A</th>
                        {% for val in conf_matrix[5] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>A-</th>
                        {% for val in conf_matrix[6] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>BBB+</th>
                        {% for val in conf_matrix[7] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>BBB</th>
                        {% for val in conf_matrix[8] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>BBB-</th>
                        {% for val in conf_matrix[9] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>BB+</th>
                        {% for val in conf_matrix[10] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>BB</th>
                        {% for val in conf_matrix[11] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>BB-</th>
                        {% for val in conf_matrix[12] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>B+</th>
                        {% for val in conf_matrix[13] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>B</th>
                        {% for val in conf_matrix[14] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>B-</th>
                        {% for val in conf_matrix[15] %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="box">
            <h2>Feature Importances</h2>
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Importance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feature, importance in model_info.feature_importances.items() %}
                    <tr>
                        <td>{{ feature }}</td>
                        <td>{{ '%.2f'|format(importance) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if show_predict_button %}
        <!-- <div class="center">
            <form action="/predict/" method="get">
                <button type="submit">PredictWS</button>
            </form>
        </div> -->

        <div class="center">
            <form action="/predict_all/" method="get">
                <button type="submit">PredictNoWS</button>
            </form>
        </div>
        {% endif %}
    </div>



    <script>
document.addEventListener("DOMContentLoaded", function() {
    const cells = document.querySelectorAll(".heatmap td");
    let max = 0;

    // Find the maximum value in the matrix
    cells.forEach(cell => {
        const val = parseInt(cell.textContent, 10);
        if (val > max) max = val;
    });

    // Define the color palette
    const colors = ["#F8F9FA", "#E9ECEF", "#DEE2E6", "#CED4DA", "#ADB5BD", "#6C757D", "#495057", "#343A40", "#212529"];
    const darkColors = ["#6C757D", "#495057", "#343A40", "#212529"];

    // Apply coloring based on value
    cells.forEach(cell => {
        const val = parseInt(cell.textContent, 10);
        const ratio = val / max;

        let color;
        if (ratio > 0.875) {
            color = colors[8];
        } else if (ratio > 0.75) {
            color = colors[7];
        } else if (ratio > 0.625) {
            color = colors[6];
        } else if (ratio > 0.5) {
            color = colors[5];
        } else if (ratio > 0.375) {
            color = colors[4];
        } else if (ratio > 0.25) {
            color = colors[3];
        } else if (ratio > 0.125) {
            color = colors[2];
        } else if (ratio > 0.05) {  // Adjusted this threshold for better visibility
            color = colors[1];
        } else {
            color = colors[0];
        }

        cell.style.backgroundColor = color;
        // Set text color to white for dark background colors
        if (darkColors.includes(color)) {
            cell.style.color = "white";
        } else {
            cell.style.color = "black";
        }
    });
});

    </script>
</body>
</html>
