<!DOCTYPE html>
<html>
<head>
    <title>Company Info</title>
</head>
<body>
    <h1>Company Information</h1>
    {% if company_info %}
        <ul>
            <li>Corp Code: {{ company_info.corp_code }}</li>
            <li>Corp Name: {{ company_info.corp_name }}</li>
            <li>Corp Name (Eng): {{ company_info.corp_name_eng }}</li>
            <li>Stock Name: {{ company_info.stock_name }}</li>
            <li>Stock Code: {{ company_info.stock_code }}</li>
            <li>CEO Name: {{ company_info.ceo_nm }}</li>
            <li>Corp Class: {{ company_info.corp_cls }}</li>
            <li>Juridical Number: {{ company_info.jurir_no }}</li>
            <li>Business Registration Number: {{ company_info.bizr_no }}</li>
            <li>Address: {{ company_info.adres }}</li>
            <li>Homepage URL: {{ company_info.hm_url }}</li>
            <li>IR URL: {{ company_info.ir_url }}</li>
            <li>Phone Number: {{ company_info.phn_no }}</li>
            <li>Fax Number: {{ company_info.fax_no }}</li>
            <li>Industry Code: {{ company_info.induty_code }}</li>
            <li>Establishment Date: {{ company_info.est_dt }}</li>
            <li>Accounting Month: {{ company_info.acc_mt }}</li>
        </ul>
    {% else %}
        <p>No information found for the given corp code.</p>
    {% endif %}

    <h1>FS2023</h1>
    {% if fs2023 %}
        <ul>
            <li>ID: {{ fs2023.id }}</li>
            <li>Base Date: {{ fs2023.baseDate }}</li>
            <li>Business Year: {{ fs2023.bizYear }}</li>
            <li>Juridical Number: {{ fs2023.jurir_no }}</li>
            <li>Currency: {{ fs2023.currency }}</li>
            <li>FS Code: {{ fs2023.fsCode }}</li>
            <li>FS Name: {{ fs2023.fsName }}</li>
            <li>Total Asset 2023: {{ fs2023.totalAsset2023 }}</li>
            <li>Total Debt 2023: {{ fs2023.totalDebt2023 }}</li>
            <li>Total Equity 2023: {{ fs2023.totalEquity2023 }}</li>
            <li>Capital 2023: {{ fs2023.capital2023 }}</li>
            <li>Revenue 2023: {{ fs2023.revenue2023 }}</li>
            <li>Operating Income 2023: {{ fs2023.operatingIncome2023 }}</li>
            <li>Earning Before Tax 2023: {{ fs2023.earningBeforeTax2023 }}</li>
            <li>Net Income 2023: {{ fs2023.netIncome2023 }}</li>
            <li>Debt Ratio 2023: {{ fs2023.debtRatio2023 }}</li>
            <li>Margin 2023: {{ fs2023.margin2023 }}</li>
            <li>Turnover 2023: {{ fs2023.turnover2023 }}</li>
            <li>Leverage 2023: {{ fs2023.leverage2023 }}</li>
            <li>Created At: {{ fs2023.created_at }}</li>
        </ul>
    {% else %}
        <p>No FS2023 information found for the given corp code.</p>
    {% endif %}
</body>
</html>

</body>
</html>
