{% include 'header.html' %}
{% block head %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<style>
    @media (max-width: 850px) {
        .hidden-below-850 {
            display: none;
            height: 0px;
        }

        .show-below-850 {
            display: block;
        }

    }
</style>

{% endblock %}

{% block content %}
<div class="hidden-below-850">
    <div class="w-full"
        style="background-image: url('static/images/home4.png'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 40vh;">
        <div class="w-full max-w-screen-xl p-8 mx-auto">
            <span class="block mb-2 text-xl text-left">
                <a href="/" class="mr-2 text-white">홈 &nbsp; |</a>
                <a href="/baro_companyList" class="ml-2 text-white">BizInfo &nbsp; |</a>
                <span class="text-white"> &nbsp; 상세조회</span>
            </span>
            <br><br><br>


            <div class="mb-4 text-center">
                <h1 class="text-6xl font-bold text-white">기업 정보</h1>
            </div>
            <br><br><br>
        </div>
    </div>
</div>

<div class="hidden show-below-850">
    <div class="w-full"
        style="background-image: url('static/images/home4.png'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 30vh">
        <div class="w-full max-w-screen-xl p-8 mx-auto">
            <span class="block mb-2 text-xl text-left">
                <a href="/" class="mr-2 text-white">홈 &nbsp; |</a>
                <a href="/baro_companyList" class="ml-2 text-white">BizInfo &nbsp; |</a>
                <span class="text-white"> &nbsp; 상세조회</span>
            </span>
            <br>
            <div class="mb-4 text-center">
                <h1 class="text-4xl font-bold text-white">기업 정보</h1>
            </div>
            <br><br><br>
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------->


<script>
    function downloadPDF() {
        const jurir_no = '{{ company_info.jurir_no }}';  // 필요 시 적절히 수정
        window.location.href = `/generate-pdf?jurir_no=${jurir_no}`;
    }
</script>

<!-- ---------------------------------------------------------------------------------------->

<br>
<div class="container max-w-screen-xl p-6 mx-auto">

    <div class="flex items-center mb-10">
        <h2 class="flex-1 text-2xl font-bold lg:text-4xl">
            {{ company_info.corp_name }}
            <button id="favorite-btn" class="text-2xl lg:text-4xl" onclick="toggleFavorite()">
                ☆
            </button>
        </h2>

        <button onclick="downloadPDF()" class="ml-auto text-xl text-purple-500 lg:text-2xl hover:underline">
            PDF 다운로드
        </button>&nbsp;&nbsp;&nbsp;
        </h2>
        <script>
            async function toggleFavorite() {
                const corpCode = "{{ company_info.corp_code }}";
                const response = await fetch(`/api/favorite/${corpCode}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const result = await response.json();
                updateFavoriteIcon(result.is_favorited);
                showAlert(result.is_favorited);
            }

            async function checkFavorite() {
                const corpCode = "{{ company_info.corp_code }}";
                const response = await fetch(`/api/favorite/${corpCode}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const result = await response.json();
                updateFavoriteIcon(result.is_favorited);
            }

            function updateFavoriteIcon(isFavorited) {
                const btn = document.getElementById('favorite-btn');
                if (isFavorited) {
                    btn.innerHTML = '★';  // 즐겨찾기된 상태
                    btn.style.color = 'yellow'; // CSS 스타일 직접 적용
                } else {
                    btn.innerHTML = '☆';  // 즐겨찾기되지 않은 상태
                    btn.style.color = ''; // 기본 색상으로 복원
                }
            }

            function showAlert(isFavorited) {
                if (isFavorited) {
                    Toastify({
                        text: "즐겨찾기 등록되었습니다.",
                        duration: 3000,
                        close: true,
                        gravity: "bottom",
                        position: "right",
                        backgroundColor: "#9333EA",
                    }).showToast();
                } else {
                    Toastify({
                        text: "즐겨찾기 해제되었습니다.",
                        duration: 3000,
                        close: true,
                        gravity: "bottom",
                        position: "right",
                        backgroundColor: "#dc2626",
                    }).showToast();
                }
            }

            // 페이지 로드 시 즐겨찾기 상태 확인
            document.addEventListener('DOMContentLoaded', checkFavorite);
        </script>
    </div>


    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="p-6 bg-white rounded-lg shadow-md">
            <h2 class="text-xl font-bold lg:text-3xl">기본 정보</h2>
            {% if company_info %}
            <br>
            <ul class="pl-5 space-y-2 list-disc">
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg">대표: {{ company_info.ceo_nm }}</p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg">법인번호: {{ company_info.jurir_no }}</p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg">법인구분:
                        {% if company_info.corp_cls == 'Y' %}
                        유가 (Y)
                        {% elif company_info.corp_cls == 'K' %}
                        코스닥 (K)
                        {% elif company_info.corp_cls == 'N' %}
                        코넥스 (N)
                        {% elif company_info.corp_cls == 'E' %}
                        기타 (E)
                        {% else %}
                        {{ company_info.corp_cls }}
                        {% endif %}</p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg">주소: {{ company_info.adres }}</p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg">홈페이지: {{ company_info.hm_url }}</p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg">대표번호: {{ company_info.phn_no }}</p>
                </li>

                <!--<li>
                    <p class="mb-4 text-lg font-semibold">산업코드: {{ company_info.induty_code }}</p>
                </li>
            -->
            </ul>
            {% else %}
            <p class="text-gray-600">해당 기업은 금융감독원(Dart API)에서 정보를 제공받을 수 없습니다.</p>
            {% endif %}
        </div>

        <div class="p-6 bg-white rounded-lg shadow-md box ">
            <h2 class="text-xl font-bold lg:text-3xl">주요 정보</h2>
            <br>
            <ul class="pl-5 space-y-2 list-disc">
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg"> 매출액: {{ "{:,}".format(fs2023.revenue2023 //
                        100000000) }}
                        억원
                    </p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg"> 영업이익: {{ "{:,}".format(fs2023.operatingIncome2023
                        //
                        100000000) }} 억원
                    </p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg"> 자본총계: {{ "{:,}".format(fs2023.totalEquity2023 //
                        100000000)
                        }} 억원
                    </p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg"> 시가총액: {{
                        "{:,.0f}".format(stock_data.market_capitalization /
                        100000000) }} 억원
                    </p>
                </li>

                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg"> 최근 1년 주가 성장률: {{
                        '{:.1f}'.format(stock_data.cagr_1y *
                        100)
                        }}%
                    </p>
                </li>
                <li>
                    <p class="mb-4 text-sm font-semibold lg:text-lg">산업코드: {{ company_info.induty_code }}</p>
                </li>

            </ul>
        </div>

        <div class="p-6 bg-white rounded-lg shadow-md box">
            <h2 class="mb-6 text-xl font-bold lg:text-3xl">바로 등급</h2>

            {% if top3_rate[0]["key"] == "credit_rate" and top3_rate[0]["value"] == "None" %}
            <br>
            <br>
            <div class="flex flex-col items-center justify-center space-y-4">
                <div class="text-center">
                    Dart 재무 정보가 존재하지 않습니다.<br>
                    정보를 직접 입력하여 등급을 확인하시겠습니까?
                </div>
                <button class="px-6 py-3 text-sm font-bold text-white bg-purple-500 rounded lg:text-lg"
                    onclick="calculateCreditRating()">
                    바로등급 확인
                </button>
            </div>

            {% else %}
            <div class="flex flex-col">
                <!-- 상단 영역: 세로 2 비율 -->
                <div class="flex items-center justify-center flex-1 p-4">
                    <h2 class="text-6xl font-bold lg:text-8xl ">{{ top3_rate[0]["key"] }}</h2>
                </div>
                <!-- 하단 영역: 세로 1 비율 -->
                <div class="flex p-4 flex-2">
                    <div class="flex flex-row w-full space-x-4">
                        <div class="flex items-center justify-center flex-1 p-4 bg-purple-300 rounded-lg">
                            <p class="text-lg font-semibold lg:text-2xl">{{ top3_rate[0]["key"] }}<br> {{
                                '{:.1f}'.format(top3_rate[0]["value"] * 100) }}%</p>
                        </div>
                        <div class="flex items-center justify-center flex-1 p-4 bg-purple-200 rounded-lg">
                            <p class="text-lg font-semibold lg:text-2xl">{{ top3_rate[1]["key"] }}<br> {{
                                '{:.1f}'.format(top3_rate[1]["value"] * 100) }}%</p>
                        </div>
                        <div class="flex items-center justify-center flex-1 p-4 bg-purple-100 rounded-lg">
                            <p class="text-lg font-semibold lg:text-2xl">{{ top3_rate[2]["key"] }}<br> {{
                                '{:.1f}'.format(top3_rate[2]["value"] * 100) }}%</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <script>
            function calculateCreditRating() {
                // 여기에 바로등급 산출을 위한 로직을 추가하세요.
                alert("바로등급 산출 기능이 아직 구현되지 않았습니다.");
            }
        </script>

    </div>

    <script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_map_api_key }}&libraries=services"></script>

    <!-- 추가 정보 영역 -->
    <div class="p-6 bg-white rounded-lg shadow-md box">
        <section class="mb-6 notice">
            <div class="page-title">
                <div class="container">
                    <h3 class="mb-4 text-xl font-bold lg:text-3xl">상세 주소</h3>
                </div>
            </div>

            <div class="map-container">
                <div id="map"></div>
            </div>
        </section>
    </div>

    <style>
        .map-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
        }

        #map {
            width: 100%;
            height: 400px;
        }
    </style>

    <script>
        // 카카오 맵 초기화
        var mapContainer = document.getElementById('map');
        var mapOption = {
            center: new kakao.maps.LatLng(37.520877, 126.927907), // 초기 중심 좌표
            level: 5 // 초기 확대 수준
        };
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소 검색 함수
        function searchAddress(address) {
            geocoder.addressSearch(address, function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var bounds = new kakao.maps.LatLngBounds();
                    for (var i = 0; i < result.length; i++) {
                        displayMarker(result[i]);
                        bounds.extend(new kakao.maps.LatLng(result[i].y, result[i].x));
                    }
                    map.setBounds(bounds);
                } else {
                    alert('주소 검색 결과가 없습니다.');
                }
            });
        }

        // 지도에 마커를 표시하는 함수
        function displayMarker(place) {
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x)
            });

            // 마커에 클릭 이벤트를 등록
            kakao.maps.event.addListener(marker, 'click', function () {
                var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });
                infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.address_name + '</div>');
                infowindow.open(map, marker);
            });
        }

        // 페이지 로드 시 주소 검색 수행
        document.addEventListener('DOMContentLoaded', function () {
            const address = "{{ adres }}"; // 주소를 템플릿 변수로 받아옴
            console.log(address);
            searchAddress(address);

        });
    </script>

    <br><br>

    <div class="hidden-below-850">
        <!-- 주가 정보 ---------------------------------------------------------------------------------------------------------------------->
        <div class="container max-w-screen-xl mx-auto">
            <h2 class="mb-6 text-2xl font-bold lg:text-4xl ">주가 정보</h2>

            <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <h3 class="mb-4 text-lg font-semibold lg:text-2xl">시가총액</h3>
                    <p class="text-xl font-bold text-gray-800 lg:text-3xl">
                        {{ "{:,.0f}".format(stock_data.market_capitalization / 100000000) }} 억원
                    </p>
                </div>
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <h3 class="mb-4 text-lg font-semibold lg:text-2xl">PER</h3>
                    <p class="text-xl font-bold text-gray-800 lg:text-3xl">{{ stock_data.per_value }}</p>
                </div>
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <h3 class="mb-4 text-lg font-semibold lg:text-2xl">PBR</h3>
                    <p class="text-xl font-bold text-gray-800 lg:text-3xl">{{ stock_data.pbr_value }}</p>
                </div>
            </div>
            <br>
            <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
                <!-- 가로 1: 시가총액, PER, PBR을 세로로 배치 -->
                <div class="flex flex-col col-span-1 space-y-6">
                    <!-- 시가총액 -->
                    <div class="p-6 bg-white rounded-lg shadow-md">
                        <h3 class="mb-4 text-lg font-semibold lg:text-2xl">1년 성장률
                            <span class="mb-4 text-sm font-semibold lg:text-lg">
                                (주가변동률)
                            </span>
                        </h3>
                        <p class="text-xl font-bold lg:text-3xl text-black-800">
                            {{ '{:.1f}'.format((stock_data.cagr_1y or 0 ) * 100) }}%
                            <span class="text-sm font-normal lg:text-xl text-black-600">
                                ({{ '{:.1f}'.format((stock_data.vol_1y or 0 ) * 100) }}%)
                            </span>
                        </p>
                    </div>
                    <!-- PER -->
                    <div class="p-6 bg-white rounded-lg shadow-md">
                        <h3 class="mb-4 text-lg font-semibold lg:text-2xl">3년 성장률
                            <span class="mb-4 text-sm font-semibold lg:text-lg">
                                (주가변동률)
                            </span>
                        </h3>
                        <p class="text-xl font-bold lg:text-3xl text-black-800">
                            {{ '{:.1f}'.format((stock_data.cagr_3y or 0 ) * 100) }}%
                            <span class="text-sm font-normal lg:text-xl text-black-600">
                                ({{ '{:.1f}'.format((stock_data.vol_3y or 0 ) * 100) }}%)
                            </span>
                        </p>
                    </div>
                    <!-- PBR -->
                    <div class="p-6 bg-white rounded-lg shadow-md">
                        <h3 class="mb-4 text-lg font-semibold lg:text-2xl">5년 성장률
                            <span class="mb-4 text-sm font-semibold lg:text-lg">
                                (주가변동률)
                            </span>
                        </h3>
                        <p class="text-xl font-bold lg:text-3xl text-black-800">
                            {{ '{:.1f}'.format((stock_data.cagr_5y or 0 ) * 100) }}%
                            <span class="text-sm font-normal lg:text-xl text-black-600">
                                ({{ '{:.1f}'.format((stock_data.vol_5y or 0 )* 100) }}%)
                            </span>
                        </p>
                    </div>
                </div>

                <div class="col-span-2 p-6 bg-white rounded-lg shadow-md">
                    <!--
            <h2 class="mb-4 text-2xl font-semibold">주가 성장·변동률 추세</h2>
            <div class="relative h-80">
                <canvas id="financialTrendChart" class="absolute inset-0"></canvas>
            </div>
            -->
                    <h2 class="mb-4 text-lg font-semibold lg:text-2xl">최근 3개월 주가 추이(일봉)</h2>
                    <div class="relative h-80">
                        <style>
                            canvas {
                                width: 100% !important;
                                height: 110% !important;
                            }
                        </style>
                        <canvas id="stockChart"></canvas>
                        <div id="noDataMessage" class="flex flex-col items-center justify-center space-y-4"
                            style="display: none;">
                            <div class="text-lg text-center lg:text-2xl">
                                <br><br><br><br>
                                상장 업체가 아닙니다.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br><br>
    </div>
    <!-- 재무 정보 ---------------------------------------------------------------------------------------------------------------------->
    <div class="hidden-below-850">
        <div class="container max-w-screen-xl mx-auto">
            <h2 class="mb-4 text-2xl font-bold lg:text-4xl">재무 정보</h2>
            <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <h3 class="mb-4 text-lg font-semibold lg:text-2xl">23년 매출액</h3>
                    <p class="text-xl font-bold text-gray-800 lg:text-3xl">
                        {{ "{:,}".format(fs2023.revenue2023 // 100000000) }} 억원
                    </p>
                </div>
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <h3 class="mb-4 text-lg font-semibold lg:text-2xl">23년 영업이익</h3>
                    <p class="text-xl font-bold text-gray-800 lg:text-3xl">
                        {{ "{:,}".format(fs2023.operatingIncome2023 // 100000000) }} 억원
                    </p>
                </div>
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <h3 class="mb-4 text-lg lg:text-2xlfont-semibold">23년 자본총계</h3>
                    <p class="text-xl font-bold text-gray-800 lg:text-3xl">
                        {{ "{:,}".format(fs2023.totalEquity2023 // 100000000) }} 억원
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container max-w-screen-xl mx-auto">
        <div class="p-6 bg-white rounded-lg shadow-md">
            <h3 class="mb-4 text-lg font-semibold lg:text-2xl">매출액·영업이익 현황</h3>
            <!-- 연도별 재무제표 비교 -->
            <div class="relative h-72">
                <canvas id="financialBarChart1" class="absolute inset-0"></canvas>
            </div>
        </div>
    </div>

    <script>document.addEventListener('DOMContentLoaded', function () {
            const ctx1 = document.getElementById('financialBarChart1').getContext('2d');
            const financialBarChart = new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: ['2020', '2021', '2022', '2023'],
                    datasets: [
                        {
                            label: '매출액',
                            data: [
                                {{ fs2020.revenue2020 }},
                        {{ fs2021.revenue2021 }},
                            {{ fs2022.revenue2022 }},
            {{ fs2023.revenue2023 }}
                        ],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
                    },
            {
                label: '영업이익',
                data: [
                    {{ fs2020.operatingIncome2020 }},
            {{ fs2021.operatingIncome2021 }},
            {{ fs2022.operatingIncome2022 }},
            {{ fs2023.operatingIncome2023 }}
                        ],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
                    }
                ]
            },
            options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: '연도'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: '금액 (억원)'
                    },
                    ticks: {
                        callback: function (value) {
                            return value / 100000000 + ' 억원';
                        }
                    }
                }
            },
            plugins: {
                afterRender: function () {
                    var financialBarChartImage = captureCanvasAsImage('financialBarChart1');
                    sendImageToServer(financialBarChartImage, '/upload-image/financialbarchart');
                }
            }
        }
        });
    });


    function sendFeedback() {
        // FS ID들을 가져옵니다. ID 값이 없을 수도 있으므로 예외 처리.
        const fs2020_id = "{{ fs2020.id }}" || null;
        const fs2021_id = "{{ fs2021.id }}" || null;
        const fs2022_id = "{{ fs2022.id }}" || null;
        const fs2023_id = "{{ fs2023.id }}" || null;

        // None이 아닌 값들만 데이터에 포함
        const data = {};
        if (fs2020_id) data.fs2020_id = fs2020_id;
        if (fs2021_id) data.fs2021_id = fs2021_id;
        if (fs2022_id) data.fs2022_id = fs2022_id;
        if (fs2023_id) data.fs2023_id = fs2023_id;

        // 데이터가 없으면 경고를 띄우고 함수 종료
        if (Object.keys(data).length === 0) {
            alert('전송할 데이터가 없습니다.');
            return;
        }

        // 비동기 요청 전송
        fetch('/fs_check_request/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                alert(data.message);
            } else {
                alert('업데이트 실패');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('업데이트 중 오류가 발생했습니다.');
        });
    }


    </script>

    <style>
        @media screen and (max-width: 850px) {
            .px-4 {
                padding-left: 0;
                padding-right: 0;
            }
        }
    </style>
    <br>
    <div class="container max-w-screen-xl mx-auto">
        <div class="flex items-center justify-between p-3 bg-white shadow-md">
            <h2 class="text-lg font-semibold lg:text-2xl">연도별 재무정보</h2>

            <button onclick="sendFeedback()" class="ml-auto text-base text-purple-500 lg:text-2xl hover:underline">
                재무정보 이상 신고
            </button>&nbsp;&nbsp;&nbsp;
        </div>

        <div class="p-3 overflow-x-auto bg-white shadow-md">
            <table class="w-full text-xs text-left border-collapse lg:text-lg">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 text-center border-b lg:py-4">항목</th>
                        <th class="px-4 py-2 text-center border-b hidden-below-850 lg:py-4">
                            <a href="{{ fs2020.FS_url }}" class="text-purple-500 hover:underline" target="_blank" rel="noopener noreferrer">2020</a>
                        </th>
                        <th class="px-4 py-2 text-center border-b lg:py-4">
                            <a href="{{ fs2021.FS_url }}" class="text-purple-500 hover:underline" target="_blank" rel="noopener noreferrer">2021</a>
                        </th>
                        <th class="px-4 py-2 text-center border-b lg:py-4">
                            <a href="{{ fs2022.FS_url }}" class="text-purple-500 hover:underline" target="_blank" rel="noopener noreferrer">2022</a>
                        </th>
                        <th class="px-4 py-2 text-center border-b lg:py-4">
                            <a href="{{ fs2023.FS_url }}" class="text-purple-500 hover:underline" target="_blank" rel="noopener noreferrer">2023</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-4 py-2 text-center border-b lg:px-6">총 매출</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850 lg:py-4">{{
                            "{:,}".format(fs2020.revenue2020 // 100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b lg:px-6">{{ "{:,}".format(fs2021.revenue2021 //
                            100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b lg:px-6">{{ "{:,}".format(fs2022.revenue2022 //
                            100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b lg:px-6">{{ "{:,}".format(fs2023.revenue2023 //
                            100000000) }} 억원</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">영업이익</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850">{{
                            "{:,}".format(fs2020.operatingIncome2020 // 100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2021.operatingIncome2021 //
                            100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2022.operatingIncome2022 //
                            100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2023.operatingIncome2023 //
                            100000000) }} 억원</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b lg:py-4">순이익</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850 lg:py-4">{{
                            "{:,}".format(fs2020.netIncome2020 // 100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b lg:px-6">{{ "{:,}".format(fs2021.netIncome2021 //
                            100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b lg:px-6">{{ "{:,}".format(fs2022.netIncome2022 //
                            100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b lg:px-6">{{ "{:,}".format(fs2023.netIncome2023 //
                            100000000) }} 억원</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">총 자산</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850">{{
                            "{:,}".format(fs2020.totalAsset2020 // 100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2021.totalAsset2021 // 100000000)
                            }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2022.totalAsset2022 // 100000000)
                            }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2023.totalAsset2023 // 100000000)
                            }} 억원</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">부채총계</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850">{{ "{:,}".format(fs2020.totalDebt2020
                            // 100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2021.totalDebt2021 // 100000000) }}
                            억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2022.totalDebt2022 // 100000000) }}
                            억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2023.totalDebt2023 // 100000000) }}
                            억원</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">자본총계</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850">{{
                            "{:,}".format(fs2020.totalEquity2020 // 100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2021.totalEquity2021 // 100000000)
                            }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2022.totalEquity2022 // 100000000)
                            }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2023.totalEquity2023 // 100000000)
                            }} 억원</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">자본금</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850">{{ "{:,}".format(fs2020.capital2020
                            // 100000000) }} 억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2021.capital2021 // 100000000) }}
                            억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2022.capital2022 // 100000000) }}
                            억원</td>
                        <td class="px-4 py-2 text-right border-b">{{ "{:,}".format(fs2023.capital2023 // 100000000) }}
                            억원</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">부채비율</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850">{{
                            '{:.1f}'.format(fs2020.debtRatio2020) }}%</td>
                        <td class="px-4 py-2 text-right border-b">{{ '{:.1f}'.format(fs2021.debtRatio2021) }}%</td>
                        <td class="px-4 py-2 text-right border-b">{{ '{:.1f}'.format(fs2022.debtRatio2022) }}%</td>
                        <td class="px-4 py-2 text-right border-b">{{ '{:.1f}'.format(fs2023.debtRatio2023) }}%</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">순이익률</td>
                        <td class="px-4 py-2 text-right border-b hidden-below-850">{{ '{:.1f}'.format(fs2020.margin2020
                            * 100) }}%</td>
                        <td class="px-4 py-2 text-right border-b">{{ '{:.1f}'.format(fs2021.margin2021 * 100) }}%</td>
                        <td class="px-4 py-2 text-right border-b">{{ '{:.1f}'.format(fs2022.margin2022 * 100) }}%</td>
                        <td class="px-4 py-2 text-right border-b">{{ '{:.1f}'.format(fs2023.margin2023 * 100) }}%</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">매출회전률</td>

                        <td class="table-cell px-4 py-2 text-right border-b hidden-below-850">{{ fs2020.turnover2020 }}
                        </td>

                        <td class="table-cell px-4 py-2 text-right border-b">{{ fs2021.turnover2021 }}</td>
                        <td class="table-cell px-4 py-2 text-right border-b">{{ fs2022.turnover2022 }}</td>
                        <td class="table-cell px-4 py-2 text-right border-b">{{ fs2023.turnover2023 }}</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 text-center border-b">Leverage</td>

                        <td class="table-cell px-4 py-2 text-right border-b hidden-below-850">{{ fs2020.leverage2020 }}
                        </td>

                        <td class="table-cell px-4 py-2 text-right border-b">{{ fs2021.leverage2021 }}</td>
                        <td class="table-cell px-4 py-2 text-right border-b">{{ fs2022.leverage2022 }}</td>
                        <td class="table-cell px-4 py-2 text-right border-b">{{ fs2023.leverage2023 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    <style>
        @media (max-width: 850px) {
            .ttt {
                font-size: 0.875rem;
                /* 작은 화면에서는 작은 글자 크기 */
            }
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial@latest"></script>
    <script>
        // Extracting stock data from the template
        const stockData = {{ stockgraph.stock_data| tojson | safe }};

        if (stockData.length === 0) {
            // Hide canvas and show no data message
            document.getElementById('stockChart').style.display = 'none';
            document.getElementById('noDataMessage').style.display = 'block';
        } else {
            // Preparing data for Chart.js
            const chartData = stockData.map(data => ({
                x: new Date(data.t),  // Convert string to Date object
                o: data.o,            // Open price
                h: data.h,            // High price
                l: data.l,            // Low price
                c: data.c             // Close price
            }));
            // Chart configuration
            const config = {
                type: 'candlestick',  // Specify chart type as 'candlestick'
                data: {
                    datasets: [{
                        data: chartData,
                        borderColor: 'rgba(0, 123, 255, 1)',   // Border color for the candles
                        backgroundColor: 'rgba(0, 123, 255, 0.3)',  // Background color for the candles
                        borderWidth: 1,
                        // Adjust the width of the candlesticks
                        barThickness: 8,  // Increase or decrease this value to adjust the width
                        categoryPercentage: 0.8, // Adjust spacing between categories
                        barPercentage: 1.0 // Adjust spacing within each category
                    }]
                },
                options: {
                    responsive: false,
                    maintainAspectRatio: true,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    const price = context.raw;
                                    return `시가: ${price.o}, 고가: ${price.h}, 저가: ${price.l}, 종가: ${price.c}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            type: 'time',  // X-axis will be a time scale
                            time: {
                                unit: 'day',  // Unit of time for x-axis
                                tooltipFormat: 'PPP',  // Correct tooltip format for date
                                displayFormats: {
                                    day: 'MMM d'  // Display format for the x-axis
                                }
                            },
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 100, // Limit number of ticks on the x-axis
                                maxRotation: 0, // Prevent labels from rotating
                                minRotation: 0
                            },
                            grid: {
                                display: false // Hide X-axis grid lines
                            }
                        },
                        y: {
                            ticks: {
                                callback: function (value) {
                                    return '₩' + value.toLocaleString();  // Format y-axis ticks
                                },
                                font: {
                                    size: 13,  // Adjust the font size
                                    weight: 'bold',  // Adjust the font weight
                                    color: 'black'
                                }
                            }
                        }
                    }
                }
            };
            // Create the chart
            const ctx = document.getElementById('stockChart').getContext('2d');
            new Chart(ctx, config);
        }





        function captureCanvasAsImage(canvasId) {
            var canvas = document.getElementById(canvasId);
            var imageData = canvas.toDataURL("image/png");
            return imageData;
        }


        function captureCanvasAsImage(canvasId) {
            var canvas = document.getElementById(canvasId);
            if (canvas) {
                return canvas.toDataURL("image/png");
            }
            console.error(`Canvas with id ${canvasId} not found`);
            return null;
        }


        function sendImageToServer(imageData, endpoint) {
            fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ image: imageData }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        // 페이지 로드 후 2초 후에 이미지 캡처 및 전송
        window.onload = function () {
            setTimeout(function () {
                //var mapImage = captureCanvasAsImage('map');
                var stockChartImage = captureCanvasAsImage('stockChart');
                var financialBarChart1Image = captureCanvasAsImage('financialBarChart1');

                //sendImageToServer(mapImage, '/upload-image/map');
                if (stockChartImage) {
                    sendImageToServer(stockChartImage, '/upload-image/stockchart');
                }
                if (financialBarChart1Image) {
                    sendImageToServer(financialBarChart1Image, '/upload-image/financialbarchart');
                }
            }, 2000); // 2000 milliseconds = 2 seconds
        };


    </script>
</div>

<Br><br>

{% endblock %}
{% include 'footer.html'%}