{% include 'header.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font.css">
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->


{% endblock %}

{% block content %}
<div class="bg-red-50">
    <div class="rounded-lg p-8 w-9/12 mx-auto">
        <span class="block text-left text-xl mb-2">
            <a href="/" class="mr-2">홈</a> &nbsp; | &nbsp;
            <a href="/baro_companyList" class="ml-2">기업검색</a> &nbsp; | &nbsp;
            <span>상세조회</span>
        </span>
        <br><br><br>
        <div class="text-center mb-4">
            <h1 class="text-5xl font-bold">업체 상세 현황</h1>
        </div>
        <br><br><br><br>
    </div>
</div>

<br>
<div class="container mx-auto p-6 max-w-screen-xl">
    <h2 class="text-4xl font-bold mb-10">{{ company_info.corp_name }}</h2>
    <h2 class="text-3xl font-bold">기업 정보</h2>
    <div class="grid grid-cols-3 gap-6">
        <div class="box bg-white p-6 rounded-lg shadow-md">
            {% if company_info %}
            <br>
            <ul class="list-disc pl-5 space-y-2">
                <li>
                    <p class="text-lg font-semibold mb-4">대표: {{ company_info.ceo_nm }}</p>
                </li>
                <li>
                    <p class="text-lg font-semibold mb-4">법인구분:
                        {% if company_info.corp_cls == 'Y' %}
                        유가 (Y)
                        {% elif company_info.corp_cls == 'K' %}
                        코스닥 (K)
                        {% elif company_info.corp_cls == 'N' %}
                        코넥스 (N)
                        {% elif company_info.corp_cls == 'E' %}
                        기타 (E)
                        {% else %}
                        {{ company_info.corp_cls }}
                        {% endif %}</p>
                </li>
                <li>
                    <p class="text-lg font-semibold mb-4">주소: {{ company_info.adres }}</p>
                </li>
                <li>
                    <p class="text-lg font-semibold mb-4">홈페이지: {{ company_info.hm_url }}</p>
                </li>
                <li>
                    <p class="text-lg font-semibold mb-4">H.P: {{ company_info.phn_no }}</p>
                </li>
                <li>
                    <p class="text-lg font-semibold mb-4">Fax: {{ company_info.fax_no }}</p>
                </li>
                <li>
                    <p class="text-lg font-semibold mb-4">산업코드: {{ company_info.induty_code }}</p>
                </li>
            </ul>
            {% else %}
            <p class="text-gray-600">해당 기업은 금융감독원(Dart API)에서 정보를 제공받을 수 없습니다.</p>
            {% endif %}
        </div>

        <!-- 추가 정보 영역 -->
        <div class="box bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-3xl font-bold mb-4">상세 주소</h2>
            <section class="mb-6">
                <p>지도 API 추가 예정</p>
            </section>
        </div>

        <!-- 추가 정보 영역 -->
        <div class="box bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-3xl font-bold mb-4">신용등급</h2>
            <section class="mb-6">
                <p>신용등급 내용 추가 예정</p>
            </section>
        </div>
    </div>
</div>




<!-- 주가 정보 ---------------------------------------------------------------------------------------------------------------------->
<div class="container max-w-screen-xl mx-auto p-6">
    <h2 class="text-3xl font-bold mb-6">주가 정보</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="p-6 bg-white rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold mb-4">시가총액</h3>
            <p class="text-3xl font-bold text-gray-800">
                {{ "{:,.0f}".format(stock_data.market_capitalization / 100000000) }} 억원
            </p>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold mb-4">PER</h3>
            <p class="text-3xl font-bold text-gray-800">{{ stock_data.per_value }}</p>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold mb-4">PBR</h3>
            <p class="text-3xl font-bold text-gray-800">{{ stock_data.pbr_value }}</p>
        </div>
    </div>
    <br>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- 가로 1: 시가총액, PER, PBR을 세로로 배치 -->
        <div class="col-span-1 flex flex-col space-y-6">
            <!-- 시가총액 -->
            <div class="p-6 bg-white rounded-lg shadow-md">
                <h3 class="text-2xl font-semibold mb-4">1년 성장률
                    <span class="text-lg font-semibold mb-4"> 
                    (주가변동률)
                    </span>
                </h3>
                <p class="text-3xl font-bold text-black-800">
                    {{ '{:.1f}'.format(stock_data.cagr_1y * 100) }}% 
                    <span class="text-xl font-normal text-black-600"> 
                        ({{ '{:.1f}'.format(stock_data.vol_1y * 100) }}%)
                    </span>
                </p>
            </div>
            <!-- PER -->
            <div class="p-6 bg-white rounded-lg shadow-md">
                <h3 class="text-2xl font-semibold mb-4">3년 성장률
                    <span class="text-lg font-semibold mb-4"> 
                    (주가변동률)
                    </span>
                </h3>
                <p class="text-3xl font-bold text-black-800">
                    {{ '{:.1f}'.format(stock_data.cagr_3y * 100) }}% 
                    <span class="text-xl font-normal text-black-600"> 
                        ({{ '{:.1f}'.format(stock_data.vol_3y * 100) }}%)
                    </span>
                </p>
            </div>
            <!-- PBR -->
            <div class="p-6 bg-white rounded-lg shadow-md">
                <h3 class="text-2xl font-semibold mb-4">5년 성장률
                    <span class="text-lg font-semibold mb-4"> 
                    (주가변동률)
                    </span>
                </h3>
                <p class="text-3xl font-bold text-black-800">
                    {{ '{:.1f}'.format(stock_data.cagr_5y * 100) }}% 
                    <span class="text-xl font-normal text-black-600"> 
                        ({{ '{:.1f}'.format(stock_data.vol_5y * 100) }}%)
                    </span>
                </p>
            </div>
        </div>

        <!-- 가로 2: 누적 성장·변동률 추세 그래프 -->
        <div class="col-span-2 bg-white rounded-lg shadow-md p-6">
            <!--
            <h2 class="text-2xl font-semibold mb-4">주가 성장·변동률 추세</h2>
            <div class="relative h-80">
                <canvas id="financialTrendChart" class="absolute inset-0"></canvas>
            </div>
            -->
            <h2 class="text-2xl font-semibold mb-4">최근 3개월 주가 추이(일봉)</h2>
            <div class="relative h-80">     
                <style>
                    canvas {
                        width: 100% !important; /* 부모 요소에 맞게 자동 조정 */
                        height: 110% !important; /* 부모 요소에 맞게 자동 조정 */
                    }
                </style>
                <canvas id="stockChart"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- 재무 정보 ---------------------------------------------------------------------------------------------------------------------->

<div class="container max-w-screen-xl mx-auto p-6">
    <h2 class="text-3xl font-bold mb-4">재무 정보</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="p-6 bg-white rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold mb-4">23년 매출액</h3>
            <p class="text-3xl font-bold text-gray-800">
                {{ "{:,}".format(fs2023.revenue2023 // 100000000) }} 억원
            </p>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold mb-4">23년 영업이익</h3>
            <p class="text-3xl font-bold text-gray-800">
                {{ "{:,}".format(fs2023.operatingIncome2023 // 100000000) }} 억원
            </p>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold mb-4">23년 자본총계</h3>
            <p class="text-3xl font-bold text-gray-800">
                {{ "{:,}".format(fs2023.totalEquity2023 // 100000000) }} 억원
            </p>
        </div>
    </div>
</div>

<div class="container max-w-screen-xl mx-auto p-6">
    <div class="bg-white rounded-lg shadow-md p-6">
        <h3 class="text-2xl font-semibold mb-4">매출액·영업이익 현황</h3>
        <!-- 연도별 재무제표 비교 -->
        <div class="relative h-72">
            <canvas id="financialBarChart1" class="absolute inset-0"></canvas>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ctx1 = document.getElementById('financialBarChart1').getContext('2d');
        const financialBarChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: ['2020', '2021', '2022', '2023'],
                datasets: [
                    {
                        label: '매출액',
                        data: [
                            {{ fs2020.revenue2020 }},
                            {{ fs2021.revenue2021 }},
                            {{ fs2022.revenue2022 }},
                            {{ fs2023.revenue2023 }}
                        ],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    },
                    {
                        label: '영업이익',
                        data: [
                            {{ fs2020.operatingIncome2020 }},
                            {{ fs2021.operatingIncome2021 }},
                            {{ fs2022.operatingIncome2022 }},
                            {{ fs2023.operatingIncome2023 }}
                        ],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '연도'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: '금액 (억원)'
                        },
                        ticks: {
                            callback: function(value) {
                                return value / 100000000 + ' 억원';
                            }
                        }
                    }
                }
            }
        });
    });
</script>

<div class="container max-w-screen-xl mx-auto p-6">
    <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-semibold mb-4">연도별 재무정보</h2>
        <table class="text-lg w-full text-left border-collapse">
            <thead class="bg-gray-100">
                <tr>
                    <th class="py-2 px-4 border-b">항목</th>
                    <th class="py-2 px-4 border-b">2020</th>
                    <th class="py-2 px-4 border-b">2021</th>
                    <th class="py-2 px-4 border-b">2022</th>
                    <th class="py-2 px-4 border-b">2023</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 px-4 border-b">총 매출</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2020.revenue2020 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2021.revenue2021 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2022.revenue2022 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2023.revenue2023 // 100000000) }} 억원</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">순이익</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2020.netIncome2020 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2021.netIncome2021 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2022.netIncome2022 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2023.netIncome2023 // 100000000) }} 억원</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">총 자산</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2020.totalAsset2020 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2021.totalAsset2021 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2022.totalAsset2022 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2023.totalAsset2023 // 100000000) }} 억원</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">부채총계</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2020.totalDebt2020 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2021.totalDebt2021 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2022.totalDebt2022 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2023.totalDebt2023 // 100000000) }} 억원</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">자본총계</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2020.totalEquity2020 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2021.totalEquity2021 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2022.totalEquity2022 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2023.totalEquity2023 // 100000000) }} 억원</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">자본금</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2020.capital2020 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2021.capital2021 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2022.capital2022 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2023.capital2023 // 100000000) }} 억원</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">영업이익</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2020.operatingIncome2020 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2021.operatingIncome2021 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2022.operatingIncome2022 // 100000000) }} 억원</td>
                    <td class="py-2 px-4 border-b table-cell">{{ "{:,}".format(fs2023.operatingIncome2023 // 100000000) }} 억원</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">부채비율</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2020.debtRatio2020 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2021.debtRatio2021 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2022.debtRatio2022 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2023.debtRatio2023 }}%</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">순이익률</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2020.margin2020 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2021.margin2021 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2022.margin2022 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2023.margin2023 }}%</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">매출회전률</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2020.turnover2020 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2021.turnover2021 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2022.turnover2022 }}%</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2023.turnover2023 }}%</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">Leverage</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2020.leverage2020 }}</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2021.leverage2021 }}</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2022.leverage2022 }}</td>
                    <td class="py-2 px-4 border-b table-cell">{{ fs2023.leverage2023 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial@latest"></script>

<script>
    // Extracting stock data from the template
    const stockData = {{ stockgraph.stock_data|tojson|safe }};
    // Preparing data for Chart.js
    const chartData = stockData.map(data => ({
        x: new Date(data.t),  // Convert string to Date object
        o: data.o,            // Open price
        h: data.h,            // High price
        l: data.l,            // Low price
        c: data.c             // Close price
    }));
    // Chart configuration
    const config = {
        type: 'candlestick',  // Specify chart type as 'candlestick'
        data: {
            datasets: [{

                data: chartData,
                borderColor: 'rgba(0, 123, 255, 1)',   // Border color for the candles
                backgroundColor: 'rgba(0, 123, 255, 0.3)',  // Background color for the candles
                borderWidth: 1,
                // Adjust the width of the candlesticks
                barThickness: 8,  // Increase or decrease this value to adjust the width
                categoryPercentage: 0.8, // Adjust spacing between categories
                barPercentage: 1.0 // Adjust spacing within each category
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: true,
            plugins: {
                /*legend: {
                    position: 'top',
                },*/
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            const price = context.raw;
                            return `시가: ${price.o}, 고가: ${price.h}, 저가: ${price.l}, 종가: ${price.c}`;
                        }
                    }
                }
            },
            scales: {
                x: {
                    type: 'time',  // X-axis will be a time scale
                    time: {
                        unit: 'day',  // Unit of time for x-axis
                        tooltipFormat: 'PPP',  // Correct tooltip format for date
                        displayFormats: {
                            day: 'MMM d'  // Display format for the x-axis
                        }
                    },
                    /*title: {
                        display: true,
                        text: 'Date'
                    },*/
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 100, // Limit number of ticks on the x-axis
                        maxRotation: 0, // Prevent labels from rotating
                        minRotation: 0
                    },
                    grid: {
                        display: false // Hide X-axis grid lines
                    }
                },
                y: {
                    /*title: {
                        display: true,
                        text: 'Price(₩)'
                    },*/
                    ticks: {
                        callback: function(value) {
                            return '₩' + value.toLocaleString();  // Format y-axis ticks
                        },
                        font: {
                            size: 13,  // Adjust the font size
                            weight: 'bold',  // Adjust the font weight
                            color: 'black' 
                        }
                    }
                }
            }
        }
    };
    // Create the chart
    const ctx = document.getElementById('stockChart').getContext('2d');
    new Chart(ctx, config);
</script>


{% endblock %}
{% include 'footer.html'%}