{% include 'header.html' %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
<section class="notice">
    <div class="container">
        <div class="page-title">
            <h3>섭외등록</h3>
        </div>

    <!-- board search area -->
<div id="board-search">
    <div class="container">
        <div class="search-window">
            <form action="/contact/search" method="get">
                <div class="search-wrap">
                    <label for="search" class="blind">섭외등록 내용 검색</label>
                    <select name="search_type" id="search_type">
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="title_content">제목+내용</option>
                        <option value="region_group">지역 그룹</option>
                        <option value="region_headquarter">지역 본부</option>
                        <option value="branch_office">지점</option>
                    </select>
                    <input id="search" type="search" name="search_query" placeholder="검색어를 입력해주세요." value="">
                    <button type="submit" class="btn btn-dark">검색</button>
                </div>
            </form>
        </div>
    </div>
</div>


        <table class="board-table">
            <thead>
                <tr>
                    <th class="th-num">번호</th>
                    <th>썸네일</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th class="th-date">등록일</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if post.file_path and post.file_path != '/None' %}
                        <img src="{{ post.file_path }}" alt="썸네일" style="width: 100px; height: 100px;">
                        {% else %}
                        <img src="/static/images/no-image.png" alt="기본 이미지" style="width: 100px; height: 100px;">
                        {% endif %}
                    </td>
                    <td><a href="/contact/{{ post.id }}">{{ post.title }}</a></td>
                    <td>{{ post.username }}</td>
                    <td>{{ post.created_at.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="btn-wrap">
            <a href="/contact/create" class="btn btn-dark">글쓰기</a>
        </div>
    </div>
</section>

{% if message %}
<script>
    Swal.fire({
        title: '{{ message }}',
        icon: '{{ message_icon }}',
        showConfirmButton: false,
        timer: 1500
    }).then(() => {
        window.location.href = "{{ url }}";
    });
</script>
{% endif %}

{% endblock %}

{% include 'footer.html' %}