{% include 'header.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font.css">
<script src="/static/js/AI_search.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<style>
    .chart-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .chart-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .toggle-content {
        display: none;
    }

    .toggle-content.show {
        display: block;
    }

    .toggle-header {
        cursor: pointer;
        color: #333;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        background-color: #F7FAFC;
        margin-bottom: 10px;
        border: 2px solid #E2E8F0;
        transition: background-color 0.3s ease;
    }

    .toggle-header:hover {
        background-color: #EDF2F7;
    }

    .stats-container {
        color: #333;
        font-weight: bold;
        border-radius: 5px;
        background-color: #F7FAFC;
    }

    /* 반응형 검색 필드 및 버튼 정렬 */
    .relative.flex {
        flex-direction: column;
    }

    @media (min-width: 640px) {
        .relative.flex {
            flex-direction: row;
        }

        .relative .mt-2 {
            margin-top: 0 !important;
        }

        .relative .sm:absolute {
            position: absolute !important;
            right: 0;
        }

        .relative .sm:top-0 {
            top: 0 !important;
        }

        .chart-item {
            width: 48%;
        }
    }
</style>
{% endblock %}

{% block content %}

<div class="w-full"
    style="background-image: url('/static/images/home8.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 50vh;">
    <div class="w-full max-w-screen-xl p-8 mx-auto">
        <span class="block mb-2 text-xl text-left">
            <a href="/" class="mr-2 text-white">홈 &nbsp; |</a>
            <a href="/contact55" class="ml-2 text-white">마케팅기회</a>
        </span>
        <br><br><br>

        <div class="mb-4 text-center">
            <h1 class="text-5xl font-bold text-white">마케팅기회</h1>
        </div>
        <br><br><br>

        <!-- 검색란 -->
        <div class="w-full max-w-4xl mx-auto">
            <div class="relative flex flex-col sm:flex-row">
                <!-- 검색 타입 선택 -->
                <div class="relative w-full mb-2 sm:w-48 sm:mb-0">
                    <select id="search_type"
                        class="block w-full py-2.5 px-4 text-base font-medium text-gray-900 bg-gray-50 border-gray-300 rounded-lg sm:rounded-s-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600">
                        <option value="company_name">회사명</option>
                        <option value="company_code">회사코드</option>
                    </select>
                </div>
                <!-- 검색 입력 필드 -->
                <div class="relative w-full">
                    <input type="search" id="company_name" name="company_name"
                        class="block p-2.5 w-full text-base text-gray-900 bg-gray-50 rounded-lg sm:rounded-e-none sm:rounded-e-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                        placeholder="섭외등록할 법인정보를 입력하세요..." required />
                    <!-- 자동완성 결과 표시 -->
                    <div id="autocomplete-results"
                        class="absolute left-0 z-10 hidden w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg top-full">
                        <!-- JavaScript로 동적으로 결과 항목을 추가합니다. -->
                    </div>
                </div>
                <!-- 검색 버튼 -->
                <button type="submit" id="search_button"
                    class="mt-2 sm:mt-0 sm:absolute sm:top-0 sm:right-0 p-2.5 text-sm font-medium h-full text-white bg-purple-700 rounded-lg sm:rounded-e-lg border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex justify-between items-center">
                    <span class="block mr-2 sm:hidden">검색</span> <!-- 모바일에서만 보이게 설정 -->
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </button>

            </div>
        </div>


        <br><br><br>
    </div>
</div>

<br>

<div class="w-full max-w-screen-xl p-4 mx-auto lg:p-8 sm:p-4">
    <div class="flex-shrink-0 bg-white rounded-lg shadow-lg">

        <!-- 섭외 통계 펼치기 문구 위에 문구 추가 -->
        {% set user_post_count = posts | selectattr('username', 'equalto', username) | list | length %}
        {% if user_post_count > 0 %}
        <div class="mb-2 text-xl font-semibold text-right text-gray-800">
            {{ username }}님의 총 섭외 건수는 {{ user_post_count }}개 입니다.
        </div>
        {% endif %}


        <div class="flex p-3 bg-gray-100 rounded-t-lg cursor-pointer" onclick="toggleContent('allStatsContent')">
            <h3 id="toggleText" class="text-xl font-bold text-gray-800 sm:text-2xl">섭외 통계 펼치기 ▼</h3>
        </div>

        <div id="allStatsContent" class="toggle-content">
            <div class="chart-container">
                <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-lg chart-item">
                    <h3 class="mb-4 text-xl font-semibold">법인별 섭외내역 통계</h3>
                    <div style="height: 400px;">
                        <canvas id="corporationChart"></canvas>
                    </div>
                </div>

                <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-lg chart-item">
                    <h3 class="mb-4 text-xl font-semibold">직급별 섭외내역 통계</h3>
                    <p id="totalContactsText" class="text-sm text-right text-gray-600">총 섭외 건수: 41</p>
                    <div style="height: 300px;">
                        <canvas id="positionChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
                <h3 class="mb-4 text-xl font-semibold">지역본부별 섭외내역 통계</h3>
                <div style="height: 400px;">
                    <canvas id="regionChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-12 stats-container">
        <div class="p-3 bg-gray-100 rounded-t-lg">
            <div class="flex flex-col items-start justify-between sm:flex-row sm:items-center">
                <h3 class="text-xl font-bold text-gray-800 sm:text-2xl">섭외 전체 내역</h3>
                <!-- 버튼들 추가 -->
                <div class="flex flex-row justify-start mt-4 space-x-2 sm:justify-end sm:space-x-4 sm:mt-0">
                    <!-- 버튼 사이에 가로 공간을 추가 -->
                    <a href="/contact3"
                        class="px-4 py-2 text-xs font-medium text-white bg-purple-700 rounded-md lg:text-base hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        채팅기능 입장
                    </a>
                    <a href="/search"
                        class="px-4 py-2 text-xs font-medium text-white bg-purple-700 rounded-md lg:text-base hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        기업지도 검색
                    </a>
                    <a href="/qnas"
                        class="px-4 py-2 text-xs font-medium text-white bg-purple-700 rounded-md lg:text-base hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        기업금융 Q&A
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!-- 검색 기능과 결과 리스트를 하나의 화면에 통합 -->
    <div class="p-6 bg-white rounded-lg shadow-md">
        <!-- 검색 기능 추가 -->
        <form action="/contact55/search" method="get">
            <div class="relative flex flex-col mb-6 sm:flex-row">
                <!-- 검색 타입 선택 -->
                <div class="relative w-full mb-2 sm:w-48 sm:mb-0">
                    <select id="search_type" name="search_type"
                        class="block w-full py-2.5 px-4 text-base font-medium text-gray-900 bg-gray-50 border-gray-300 rounded-lg sm:rounded-s-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600">
                        <option value="corporation_name">법인명</option>
                        <option value="username">작성자</option>
                        <option value="content">내용</option>
                    </select>
                </div>
                <!-- 검색 입력 필드 -->
                <div class="relative w-full">
                    <input type="search" id="contact_search" name="search_query"
                        class="block p-2.5 w-full text-base text-gray-900 bg-gray-50 rounded-lg sm:rounded-e-none sm:rounded-e-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                        placeholder="검색내용을 입력하세요..." required />
                </div>
                <!-- 검색 버튼 -->
                <button type="submit"
                    class="mt-2 sm:mt-0 sm:absolute sm:top-0 sm:right-0 p-2.5 text-sm font-medium h-full text-white bg-purple-700 rounded-lg sm:rounded-e-lg border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800 flex justify-between items-center">
                    <span class="block mr-2 sm:hidden">검색</span> <!-- 모바일에서만 보이게 설정 -->
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </button>

            </div>
        </form>


        <!-- 검색 결과 또는 전체 목록 표시 -->
        {% if posts %}
        <ul id="postsList" class="divide-y divide-gray-200">
            {% for post in posts %}
            <li class="py-4">
                <div class="flex flex-col items-start justify-between sm:flex-row sm:items-center">
                    <div>
                        <p class="text-base font-semibold text-gray-800 sm:text-xl">{{ post.corporation_name }}</p>
                        <p class="text-sm text-gray-600 sm:text-lg">{{ post.content }}</p>
                        <p class="text-xs text-gray-500 sm:text-base">{{ post.contact_type }} | {{ post.contact_method
                            }}
                            | {{
                            post.username }} | {{ post.created_at.strftime('%Y-%m-%d') }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="flex justify-center mt-6">
            <nav aria-label="Page navigation">
                <ul id="pagination" class="inline-flex flex-wrap justify-center -space-x-px text-xs sm:text-sm">
                    <!-- Pagination buttons will be inserted here by JavaScript -->
                </ul>
            </nav>
        </div>
        {% else %}
        <p class="text-sm text-gray-600 sm:text-base">현재 등록된 섭외 내역이 없습니다.</p>
        {% endif %}
    </div>
</div>

<script>
    function toggleContent(id) {
        const content = document.getElementById(id);
        const toggleText = document.getElementById('toggleText');

        // 토글하여 콘텐츠 표시/숨기기
        content.classList.toggle('show');

        // 토글 상태에 따라 텍스트 변경
        if (content.classList.contains('show')) {
            toggleText.textContent = '섭외 통계 접기 ▲';
        } else {
            toggleText.textContent = '섭외 통계 펼치기 ▼';
        }
    }

    // 법인별 섭외내역 통계 (세로 막대 차트)
    const corporationCtx = document.getElementById('corporationChart').getContext('2d');
    new Chart(corporationCtx, {
        type: 'bar',
        data: {
            labels: ['삼성전자(주)', 'LG전자(주)', 'SK텔레콤(주)', '현대자동차(주)', '(주)셀트리온'],
            datasets: [{
                label: '섭외 건수',
                data: [90, 50, 56, 80, 65], // 합계: 341
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'top'
                }
            }
        }
    });

    // 직급별 섭외내역 통계 (도넛 차트)
    const positionCtx = document.getElementById('positionChart').getContext('2d');
    const totalContacts = 341; // 총 섭외 건수
    document.getElementById('totalContactsText').textContent = '총 섭외 건수: ' + totalContacts;

    new Chart(positionCtx, {
        type: 'doughnut',
        data: {
            labels: ['계장', '대리', '과장', '차장', '부지점장'],
            datasets: [{
                label: '섭외 건수',
                data: [50, 80, 70, 100, 41],// 합계: 341
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            cutout: '40%',
            plugins: {
                legend: {
                    position: 'right',
                }
            }
        }
    });

    // 지역본부별 섭외내역 통계 (다중 선 그래프)
    const regionCtx = document.getElementById('regionChart').getContext('2d');
    new Chart(regionCtx, {
        type: 'line',
        data: {
            labels: ['1월', '2월', '3월', '4월', '5월', '6월'],
            datasets: [
                {
                    label: '강남1(방배중앙)',
                    data: [65, 45, 70, 85, 50, 90], // 마지막 값 합계: 90
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    tension: 0.1
                },
                {
                    label: '강남2(신사동)',
                    data: [40, 55, 60, 70, 65, 85], // 마지막 값 합계: 85
                    borderColor: 'rgba(54, 162, 235, 1)',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    tension: 0.1
                },
                {
                    label: '경인1(용현남)',
                    data: [55, 65, 50, 60, 80, 80], // 마지막 값 합계: 80
                    borderColor: 'rgba(255, 206, 86, 1)',
                    backgroundColor: 'rgba(255, 206, 86, 0.2)',
                    tension: 0.1
                },
                {
                    label: '경인2(가좌공단)',
                    data: [70, 50, 55, 75, 85, 86], // 마지막 값 합계: 86
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    tension: 0.1
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    async function searchCompanies(event) {
        event.preventDefault();

        const name = document.getElementById('company_name').value;
        const searchType = document.getElementById('search_type').value;

        try {
            const queryString = new URLSearchParams({
                'name': name,
                'search_type': searchType
            }).toString();

            const response = await fetch(`/contact5?${queryString}`, {
                method: 'GET',
            });

            if (response.status === 404) {
                Toastify({
                    text: "업체를 찾을 수 없습니다. 정확한 업체명을 입력해주세요.",
                    duration: 3000,
                    close: true,
                    gravity: "bottom",
                    position: "right",
                    backgroundColor: "#dc2626",
                }).showToast();
            } else if (response.ok) {
                const text = await response.text();
                document.open();
                document.write(text);
                document.close();

                // URL을 변경하여 실제로 contact5로 이동하게 만듭니다.
                window.history.pushState({}, '', `/contact5?${queryString}`);
            } else {
                alert('서버 오류가 발생했습니다. 다시 시도해 주세요.');
            }
        } catch (error) {
            console.error('검색 중 오류 발생:', error);
            alert('검색 중 오류가 발생했습니다.');
        }
    }

    document.getElementById('search_button').addEventListener('click', searchCompanies);
</script>


<script>
    // 페이지네이션
    const itemsPerPage = 5; // 페이지당 표시할 항목 수
    let currentPage = 1;
    const posts = Array.from(document.querySelectorAll('#postsList li'));
    const totalPages = Math.ceil(posts.length / itemsPerPage);

    function showPage(page) {
        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;
        posts.forEach((post, index) => {
            post.style.display = (index >= startIndex && index < endIndex) ? '' : 'none';
        });
    }

    function setupPagination() {
        const paginationElement = document.getElementById('pagination');
        paginationElement.innerHTML = '';

        const previousButton = document.createElement('li');
        previousButton.innerHTML = `<a href="#" class="flex items-center justify-center h-8 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">이전</a>`;
        previousButton.addEventListener('click', (e) => {
            e.preventDefault();
            if (currentPage > 1) {
                currentPage -= 1;
                showPage(currentPage);
                setupPagination();
            }
        });
        paginationElement.appendChild(previousButton);

        const startPage = Math.floor((currentPage - 1) / 5) * 5 + 1;
        const endPage = Math.min(startPage + 4, totalPages);

        for (let i = startPage; i <= endPage; i++) {
            const li = document.createElement('li');
            li.innerHTML = `<a href="#" class="flex items-center justify-center px-3 h-8 leading-tight ${i === currentPage ? 'text-blue-600 bg-blue-50' : 'text-gray-500 bg-white'} border border-gray-300 hover:bg-gray-100 hover:text-gray-700">${i}</a>`;
            li.addEventListener('click', (e) => {
                e.preventDefault();
                currentPage = i;
                showPage(currentPage);
                setupPagination();
            });
            paginationElement.appendChild(li);
        }

        const nextButton = document.createElement('li');
        nextButton.innerHTML = `<a href="#" class="flex items-center justify-center h-8 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">다음</a>`;
        nextButton.addEventListener('click', (e) => {
            e.preventDefault();
            if (currentPage < totalPages) {
                currentPage += 1;
                showPage(currentPage);
                setupPagination();
            }
        });
        paginationElement.appendChild(nextButton);
    }

    // 초기 페이지 설정
    showPage(currentPage);
    setupPagination();
</script>

{% endblock %}
{% include 'footer.html' %}