<footer class="uui-footer07_component">
    <div class="uui-padding-vertical-xlarge">
        <div class="uui-footer07_bottom-wrapper"></div>
        <div class="uui-footer07_top-wrapper">
            <a href="/"><img width="200" height="200" alt="" src="images/logo-4.png" class="image-3"></a>
            <div class="w-layout-grid uui-footer07_link-list">
                <a href="#" class="uui-footer07_link w-inline-block">
                    <div>Overview</div>
                </a>
                <a href="#" class="uui-footer07_link w-inline-block">
                    <div>Features</div>
                </a>
                <a href="#" class="uui-footer07_link w-inline-block">
                    <div>Pricing</div>
                </a>
                <a href="#" class="uui-footer07_link w-inline-block">
                    <div>Careers</div>
                </a>
                <a href="#" class="uui-footer07_link w-inline-block">
                    <div>Help</div>
                </a>
                <a href="#" class="uui-footer07_link w-inline-block">
                    <div>Privacy</div>
                </a>
            </div>
        </div>
    </div>
    <div class="uui-page-padding"></div>
    <div class="uui-container-large"></div>
</footer>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=66a06908bcda3269e736087f"
    type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
<script src="js/webflow.js" type="text/javascript"></script>
</body>

</html>
